
<!-- ANIME -->

<!-- Content container -->
<div class="content-container">
  <!-- Content. Left block -->
  <div class="content2">
    <!-- Media -->
    <div class="media">
      <!-- Media post -->
      <article class="media__post">
        <div class="media__post__header"><h1 class="media__post__title">АНИМЕ</h1></div>

        <!-- VIEW ANIME -->
        <div class="finished-releases__list">
          <div class="ads-list__item" *ngFor="let anime of animes">
            <div class="ads-list__item__thumb">
              <img src="{{anime.image1}}" style="width: 280px">
              <!-- <button class="delete btn-x btn-dark" title="delete anime" (click)="delete(anime)">X DELETE X</button> -->
            </div>

            <nav>
              <h3 class="h3 ads-list__item__title">
                <a routerLink="/{{anime.catalogType.api}}/{{anime.id}}" title="{{anime.name}}" class="h3 ads-list__item__title">{{anime.name}}</a>
              </h3>
            </nav>
          </div>
        </div>
        <!-- VIEW ANIME End -->
        <div class="finished-releases__list">
          <p class="info info-p">
            Если вы поклонник аниме или только недавно начали интересоваться этим видом искусства, наш сайт предлагает
            посмотреть ТОП-100 лучших аниме. Мы не делим их по жанрам и стилям, на этой странице представлены только
            сериалы, которые выше всего оценили сами зрители. Вы можете познакомиться с их описанием, оценить скриншоты
            и трейлеры, а затем посмотреть их онлайн, бесплатно и в хорошем качестве.
          </p>
          <p class="info info-p">
            Мы надеемся, что в представленном списке каждый сможет найти именно те сериалы, благодаря которым многие
            зрители так увлечены новым для нашей страны видом искусства.
          </p>
          <p class="info info-p">
            А если вы захотите посмотреть больше и заинтересуетесь каким-то определенным жанром - к вашим услугам
            удобная навигация по каталогу и самый большой выбор произведений всех стилей, от фэнтези и научной фантастики
            до любовных и психологических драм, хоррора или комедий.
          </p>
          <p class="info info-p">
            Надеемся, что список лучших аниме всех жанров поможет вам определиться с выбором.
          </p>
        </div>

        <div class="finished-releases__list">
          <div class="info-h1"><h1>Лучшие аниме</h1></div>
        </div>

        <div class="finished-releases__list">
          <p class="info info-p">
            Самыми популярными аниме мы считаем не те, которым присвоили высокие рейтинги официальные источники
            (какими бы авторитетными они ни были). На этой странице представлены сериалы, манга и дорамы, которым
            поставили самые высокие оценки наши зрители, посетители сайта.
          </p>
          <p class="info info-p">
            Особенностью аниме, этих рисованных фильмов, предназначенных для аудитории различного возраста, является
            высокая реалистичность, непредсказуемые сюжеты и необычные персонажи. Но чтобы определиться, какой жанр
            подойдет вам больше всего, мы рекомендуем выборку лучших произведений всех жанров. Приключения, детектив,
            фантастика, исторические и романтические истории - как же найти лучшее среди бесконечного множества?
          </p>
          <p class="info info-p">
            Мы считаем, что количество просмотров, оставленных комментариев и обсуждений говорит о качестве произведения
            намного больше, чем оценка критиков.
          </p>
          <p class="info info-p">Наш сайт предлагает самый удобный каталог аниме, в котором легко найти любимый жанр или сериал по названию.</p>
        </div>
      </article>
      <!--Media post End -->
    </div>
  </div>
  <!-- Content. Left block End -->

  <!-- Right sidebar -->
  <div class="right-sidebar">
    <!-- Most popular widget -->
    <!-- Post info widget -->
    <div class="widget">
      <div class="widget__post-info">
        <div class="widget__post-info__btns">
          <button *ngIf="admin" type="button" class="btn btn-dark"
                  onclick="document.getElementById('id01').style.display='block'">ADD ANIME</button>
        </div>
      </div>
    </div>
    <!-- Post info widget End -->

    <div class="widget">
      <div class="info-r"><h1>Самое популярное</h1></div>
      <div class="widget__most-popular">
        <!-- Most popular widget item-->
        <div class="widget__most-popular__item widget__item" *ngFor="let pAnime of popularAnimes">
          <div class="widget__most-popular__item__info">
            <a routerLink="/{{pAnime.catalogType.api}}/{{pAnime.id}}" title="{{pAnime.name}}" class="h4 widget__most-popular__item__title">{{pAnime.name}}</a>
            <div class="genre-tags">
              <a href="" title="Драма">Драма</a>
              <a href="" title="Повседневность">Повседневность</a>
              <a href="" title="Романтик">Романтик</a>
            </div>
          </div>
          <div class="widget__most-popular__item__rating">{{pAnime.rating}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="id01" class="modal">

  <form class="modal-content animate">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>

    <div class="container">
      <form [formGroup]="form">
      <label class="label-h" for="name">Name:<input formControlName="name" #Name type="text" placeholder="Enter name" name="name" required /></label>
      <label class="label-h" for="alterName">AlterName:<input formControlName="alterName" #AlterName type="text" placeholder="Enter alterName" name="alterName" required /></label>
      <label class="label-h" for="catalogType">CatalogType:<input formControlName="catalogType" #CatalogType type="text" placeholder="Enter catalogType" name="catalogType" required /></label>
      <label class="label-h" for="rating">Rating:<input formControlName="rating" #Rating type="number" placeholder="Enter Rating" name="rating" required /></label>
      <label class="label-h" for="viewCount">ViewCount:<input formControlName="viewCount" #ViewCount type="number" placeholder="Enter ViewCount" name="viewCount" required /></label>
      <label class="label-h" for="releaseDate">ReleaseDate:<input formControlName="releaseDate" #ReleaseDate type="number" placeholder="Enter ReleaseDate" name="releaseDate" required /></label>
      <label class="label-h" for="image1">Image1:<input formControlName="image1" #Image1 type="text" placeholder="Enter Image1" name="image1" required /></label>
      <label class="label-h" for="ageLimit">AgeLimit:<input formControlName="ageLimit" #AgeLimit type="number" placeholder="Enter AgeLimit" name="ageLimit" required /></label>
      <label class="label-h" for="screen_1_1">Screen_1_1:<input formControlName="screen_1_1" #Screen_1_1 type="text" placeholder="Enter Screen_1_1" name="screen_1_1" required /></label>
      <label class="label-h" for="screen_1_2">Screen_1_2:<input formControlName="screen_1_2" #Screen_1_2 type="text" placeholder="Enter Screen_1_2" name="screen_1_2" required /></label>
      <label class="label-h" for="screen_1_3">Screen_1_3:<input formControlName="screen_1_3" #Screen_1_3 type="text" placeholder="Enter Screen_1_3" name="screen_1_3" required /></label>
      <label class="label-h" for="screen_1_4">Screen_1_4:<input formControlName="screen_1_4" #Screen_1_4 type="text" placeholder="Enter Screen_1_4" name="screen_1_4" required /></label>
      <label class="label-h" for="screen_1_5">Screen_1_5:<input formControlName="screen_1_5" #Screen_1_5 type="text" placeholder="Enter Screen_1_5" name="screen_1_5" required /></label>
      <label class="label-h" for="description">Description:<input formControlName="description" #Description type="text" placeholder="Enter Description" name="description" required /></label>

      </form>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button class="btn btn-green button2" (click)="createAnime()">Add</button>
      <button type="button" onclick="document.getElementById('id01').style.display='none'"
              class="cancelbtn btn btn-red button2">Cancel</button>
    </div>
  </form>

</div>
