
<!-- HOME -->

<div class="box-animes">
  <div class="">
    <h1 class="h1 rd">АНИМЕ</h1>
    <button class="next h1" (click)="minus(index1, index2)" style="margin-left: 30px"><</button>
    <button class="prev h1" (click)="plus(index1, index2)">></button>
  </div>

  <div class="view" *ngFor="let anime of animes.slice(index1, index2)">
    <img src="{{anime.image1}}" class="image1">

    <nav>
      <h3 class="h3">
        <a routerLink="/{{anime.catalogType.api}}/{{anime.id}}" class="h3">{{anime.name}}</a>
      </h3>
    </nav>
  </div>
</div>

<div class="box-animes">
  <div class="">
    <h1 class="h1 rd">ФИЛЬМЫ</h1>
    <button class="next h1" (click)="minus2(index12, index22)" style="margin-left: 30px"><</button>
    <button class="prev h1" (click)="plus2(index12, index22)">></button>
  </div>

  <div class="view" *ngFor="let m of movies.slice(index12, index22)">
    <img src="{{m.image1}}" class="image1">

    <nav>
      <h3 class="h3">
        <a routerLink="/{{m.catalogType.api}}/{{m.id}}" class="h3">{{m.name}}</a>
      </h3>
    </nav>
  </div>
</div>

<div class="box-animes">
  <div class="">
    <h1 class="h1 rd">СЕРИАЛЫ</h1>
    <button class="next h1" (click)="minus3(index13, index23)" style="margin-left: 30px"><</button>
    <button class="prev h1" (click)="plus3(index13, index23)">></button>
  </div>

  <div class="view" *ngFor="let s of serials.slice(index13, index23)">
    <img src="{{s.image1}}" class="image1">

    <nav>
      <h3 class="h3">
        <a routerLink="/{{s.catalogType.api}}/{{s.id}}" class="h3">{{s.name}}</a>
      </h3>
    </nav>
  </div>
</div>

