<!-- Finished releases-->
<div class="finished-releases">
  <div class="container">
    <div class="finished-releases__wrapper">
      <!-- Finished releases header-->
      <div class="finished-releases__header">
        <div class="h2 finished-releases__header__title widget__title">Завершённые релизы</div>
      </div>
      <!-- Finished releases header End-->
      <!-- Finished releases list-->
      <div class="finished-releases__list">
        <div class="ads-list__item" >
          <div class="ads-list__item__thumb"><img src="" style="width: 281.6px"></div>

          <nav>
            <h3 class="h3 ads-list__item__title">
              <a routerLink="" title=""
                 class="h3 ads-list__item__title"></a>
            </h3>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Finished releases End-->
