
<!-- Anime detail -->

<!-- Content container-->
<div class="content-container"> <!--*ngIf=""-->
  <!-- Content. Left block -->
  <div class="content2">
    <!-- Media-->
    <div class="media">
      <!-- Media post -->
      <article class="media__post">
        <div class="media__post__header">
          <h1 class="media__post__title">{{user.username}}</h1>
          <div class="media__post__original-title">{{user.firstname + " " + user.lastname}}</div>
        </div>

        <div class="media__panel media__panel__gray">

          <div class="media__post__info">
            <div class="col-1">
              <div class="releases-date">
                <p>First Name: <span class="date-color">{{user.firstname}}</span></p>
              </div>

              <div class="status">
                <p>Last Name: <span class="date-color">{{user.lastname}}</span></p>
              </div>

              <div class="rating">
                <p>Email: <span class="date-color">{{user.email}}</span></p>
              </div>
            </div>

            <div class="col-1">
              <div class="rating">
                <p>Gender: <span class="date-color">{{user.gender}}</span></p>
              </div>

              <div class="viewCount">
                <p>Phone: <span class="date-color">{{user.phone}}</span></p>
              </div>

              <div class="viewCount">
                <p>Birthday: <span class="date-color">{{user.birthday}}</span></p>
              </div>
            </div>
          </div>
        </div>
      </article>
      <!--Media post End-->
    </div>

    <!-- Likes -->
    <div *ngIf="trueLikes">
      <div *ngFor="let like of likes">
        <p>{{like.name}}</p>
      </div>
    </div>

    <!-- Zakladki -->
    <div *ngIf="trueZakladki">
      <div *ngFor="let zaktadka of zaktadki">
        <p>{{zaktadka.name}}</p>
      </div>
    </div>
  </div>
  <!-- Content. Left block End-->


  <!-- Right sidebar-->
  <div class="right-sidebar">
    <!-- Post info widget-->
    <div class="widget">
      <div class="widget__post-info">
        <div class="widget__post-info__poster">
          <img src="" width="280">
        </div>

        <div class="widget__post-info__btns">
          <button type="button" class="btn btn-red" (click)="clickLikes()">МНЕ НРАВИТСЯ!</button>
          <button type="button" class="btn btn-green" (click)="clickZakladki()">В ЗАКЛАДКИ</button>

          <button type="button" class="btn btn-dark"  onclick="document.getElementById('id01').style.display='block'">Change info</button>
        </div>
      </div>
    </div>
    <!-- Post info widget End -->
  </div>
</div>



<!-- Change Name -->
<div id="id01" class="modal">

  <form class="modal-content animate" action="" method="patch">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>
    <div class="container">
      <form>
        <label class="label-h" for="newName">First Name:
          <input [(ngModel)]="user.firstname" type="text" placeholder="" name="firstname" required/>
        </label>
        <label class="label-h" for="newRating">Last Name:
          <input [(ngModel)]="user.lastname" type="text" placeholder="" name="lastname" required/>
        </label>
        <label class="label-h" for="newRating">Email Name:
          <input [(ngModel)]="user.email" type="email" placeholder="" name="email" required/>
        </label>
        <label class="label-h" for="newRating">Gender:
          <input [(ngModel)]="user.gender" type="text" placeholder="" name="gender" required/>
        </label>
        <label class="label-h" for="newRating">Phone:
          <input [(ngModel)]="user.phone" type="text" placeholder="" name="phone" required/>
        </label>
        <label class="label-h" for="newRating">Birthday:
          <input [(ngModel)]="user.birthday" type="date" placeholder="" name="birthday" required/>
        </label>
      </form>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button class="btn btn-green button2" (click)="save()">SAVE</button>
      <!-- <button (click)="save()" type="button" class="btn btn-green button2">SAVE</button> -->
    </div>

  </form>

</div>
